:root {
    --main-text-color: #757575;
    --accent-text-color: #2196f3;
    --background-color-hero: #2f303a;
    --title-text-color: #212121;
    --white-color: #ffffff;
    --black-color: #000000;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --filter-background: #f5f4fa;
    --header-line: #ececec;
    --social-color: #afb1b8;
    --cards-overlay-color: rgba(33, 150, 243, 0.9);
}
body {
    background-color: #ffffff;
    color: var(--main-text-color);
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.14;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* обнуляет оформление для ul */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Header */
.header {
    border-bottom: 1px solid var(--header-line);
}

.header-content {
    display: flex;
    align-items: center;
}

/* Лого  */

.blue-logo {
    color: var(--accent-text-color);
}
.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--black-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

/* Навигация */

.navigation {
    display: flex;
}

.site-nav {
    display: flex;
    margin-left: 93px;
    margin-bottom: -1px;
}

.site-nav_item:not(:last-child) {
    margin-right: 50px;
}

.site-nav_link {
    display: block;
    padding-top: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-text-color);
}

.activ {
    color: var(--accent-text-color);
}

.site-nav-link.activ::after {
    content: '';
    display: block;

    width: 100%;
    height: 4px;
    margin-top: 29px;

    background: var(--accent-text-color);
    border-radius: 2px;
}

/* Контакты */

.contacts {
    display: flex;
    margin-left: auto;
}
.contacts .item:not(:last-child) {
    margin-right: 30px;
}

.link-icon {
    margin-right: 10px;
    fill: currentColor;
}

.phone {
    fill: currentColor;
}
.contacts-link {
    display: flex;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--main-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: var(--main-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
}

/* MAIN*/

/* section HERO */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--background-color-hero);
    max-width: 1600px;
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-back.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    margin: 0 auto 30px auto;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    max-width: 696px;
}
.button {
    border-radius: 4px;
    padding: 10px 32px;
    border: 0;
    min-width: 200px;
    color: var(--white-color);
    background-color: var(--accent-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
}

.modal {
    position: absolute;

    top: 50%;
    left: 50%;
    padding-top: 40px;
    text-align: center;

    min-width: 528px;
    min-height: 581px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--white-color);

    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: var(--accent-text-color);
}

.modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;

    color: var(--title-text-color);
}

/* ------Modal Form */

.modal-form {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 12px;
}
.form-field {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}
.form-input,
.form-textarea {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0 0 0 42px;
    outline: transparent;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-textarea:focus {
    border: 1px solid var(--accent-text-color);
}

.form-field:focus-within .form-icon {
    fill: #2196f3;
}

.form-textarea {
    display: inline-block;
    resize: none;
    height: 120px;
    padding: 12px 16px;
}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.checkbox-field {
    margin-left: 14px;
}

.checkbox-input:checked + .checkbox-field {
    fill: var(--accent-text-color);
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="16" height="15" rx="2" fill="%232196F3"/%3E%3Cpath d="m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z" fill="%23fff" stroke="%23fff" stroke-width=".2"/%3E%3C/svg%3E');
}
.checkbox-lable {
    margin-left: 7px;
    line-height: 1.71;
}
.checkbox-lable-link {
    color: var(--accent-text-color);
}
.form-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: #188ce8;
}

/*  ------------section FEATURES  */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features {
    padding-top: 94px;
}

/*  логический заголовок */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
}

.advantages-list .item {
    width: 270px;
}

.advantages-list .item:not(:last-child) {
    margin-right: 30px;
}

.features-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--filter-background);
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.advantages-title {
    margin-bottom: 10px;

    font-size: 14px;
    color: var(--title-text-color);
    font-weight: 700;
    text-transform: uppercase;
}

.advantages-text {
    line-height: 1.71;
}

/* Section Чем мы занимаемся */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
.products {
    display: flex;
}
.products img {
    display: block;
}
.product-item {
    position: relative;
}
.lable {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    background: rgba(47, 48, 58, 0.8);
}

.product-title {
    display: inline-block;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}

.products .product-item:not(:last-child) {
    margin-right: 30px;
}

/* ------------OUR TEAM--- */

.back-color-section {
    background-color: var(--filter-background);
}
.team {
    display: flex;
    text-align: center;
}
.team img {
    display: block;
}
.team .item:not(:last-child) {
    margin-right: 30px;
}

.team .item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title,
.team-text {
    font-size: 16px;
    line-height: 1.19;
}

.team-title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
}
.team-text {
    margin-bottom: 16px;
}
.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* --------Socials--- */
.team-social-links {
    display: flex;
    justify-content: center;
}

.team-social-links a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--social-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links li:not(:last-child) {
    margin-right: 10px;
}

.team-card-icon {
    display: block;

    color: currentColor;
}
.team-social-links a:hover,
.team-social-links a:focus {
    background-color: var(--accent-text-color);
    fill: var(--white-color);
}

/* ----------Clients---- */

.clients {
    display: flex;
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid var(--social-color);
    color: var(--social-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
    fill: currentColor;
}
.client-link:hover,
.client-link:focus {
    border-color: var(--accent-text-color);
    color: var(--accent-text-color);
}

/*--------------------> FOOTER--- */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-color-hero);
}

.main-footer {
    display: flex;
}

/* ---------Address block---- */

.address-block {
    margin-right: 70px;
}

/* ---------->LOGO */
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--white-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
/* -------Address links */

.address-list .link {
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    color: var(--footer-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.white {
    color: var(--white-color);
}

.address-list .link:hover,
.address-list .link:focus {
    color: var(--accent-text-color);
}

.address-list .item:not(:last-child) {
    margin-bottom: 9px;
}
/* ------------------JOIN-US---------- */

.join-block {
    margin-top: 12px;
}

.join-title,
.form-title {
    margin-bottom: 20px;

    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 700;
}
/* ----------Socials links */
.socials {
    display: flex;
}

.socials .item:not(:last-child) {
    margin-right: 10px;
}

.socials .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials .link:hover,
.socials .link:focus {
    background-color: var(--accent-text-color);
}

.icon {
    fill: var(--white-color);
}
/* -----------Footer Form--- */

.form-block {
    margin-left: 93px;
    margin-top: 12px;
}

.form-thumb {
    display: flex;
    align-items: center;
}
.footer-btn {
    display: flex;
    align-items: center;
}

.form-btn-icon {
    margin-left: 10px;
}
.join-form-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-color-hero);
    color: var(--white-color);
}

.join-form-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

/* ----------------PAGE 2 PORTFOLIO--------------- */

/* >>>>>>>>BUTTONS<<<<<<*/

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters .item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;

    color: var(--title-text-color);
    background-color: var(--filter-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: 'Roboto';

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PROJECTS */

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.card-set .item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set .item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set img {
    display: block;
    max-width: 100%;
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--cards-overlay-color);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set .item:hover .card-overlay {
    transform: translateY(0%);
}
.project-card {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
}
.card-overlay-text {
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color);
}

.project-title {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
}
